{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% load static %}

{% block content %}
    <div class="features">
        <h1>О нас</h1>
        <p>Добро пожаловать в бюро по трудоустройству!

Мы - ваш надежный партнер в поиске и реализации карьерных возможностей. В мире, где рынок труда постоянно меняется и развивается, мы стоим на страже вашего успеха, помогая вам найти идеальное рабочее место, которое соответствует вашим навыкам, амбициям и жизненным целям.</p>
         <img src="{% static 'main/awesome/img/office.jpg' %}" alt="Офис" style="block-size: 60%;">
    </div>
{% endblock %}